%p
   “All of Hashrocket’s new projects are done in Haml, and we’ve now decided to transition everything else in our portfolio over to Haml as soon as possible. The indentation-based approach works wonders for generating clean, semantic markup and the way that you can see the structure of your markup in a way that easily maps to CSS rules is simply brilliant.” - ‘Are you using Haml?’ - Obie Fernandez

%ul.trumb-series
 
   - @site.sorted_series.each do |s|

      %li
         %a{ :href => "/series/#{s[:href_series]}/" }
            %h3= s[:title_series]

         %a{ :href => "/series/#{s[:href_series]}/" }
            %img{ :src => "/assets/img/#{s[:href_series]}-logo.jpg", :width => "100%" }

         - if coins_from_series(s).size > 0
            %div<
               
               - if coins_from_series(s).size == s[:size_series]
                  Полная коллекция

               - else
                  = coins_from_series(s).size

                  - if s[:size_series]
                     из #{s[:size_series]}

