%table{ :class => "coin" }
    %tr
        %td{ :class => "col1" }
            %img{ :src => "#{@item[:image]}", :height => "#{@item[:image_height]}", :width => "#{@item[:image_width]}" }

        %td{ :class => "col2" }
            .catalogue_num Каталожный №
            .date_of_issue Дата выпуска
            .diameter Диаметр
            .mass Масса
            .mintage Тираж

        %td{ :class => "col3" }
            = @item[:catalogue_num]
            %br
            = @item[:date_of_issue]
            %br
            = @item[:diameter]
            %br
            = @item[:mass]
            %br
            = @item[:mintage]
