- require 'enumerator'

%ul#nav-mini
    %li 
        %a{ :href => "#" } по годам
    %li 
        %a{ :href => "#" } по количеству
    %li 
        %a{ :href => "#" } по двору

/ подготовим массив к выводу
- years = @item[:series].sort_by{ |e| e[:year] }.reverse

- years.each_slice(3) do |row|
    .table-series

        - row.each_with_index do |year, year_index|

            %div{ :class => year == row.last ? "col-last" : "col" }

                %h3{ :id => "#{ year[:year] }" }= year[:year]

                %table
                    %thead
                        %tr
                            %th.col1 №
                            %th Город
                            %th.col5 МД
                    
                    %tbody
                        - year[:coins].each_with_index do |coin, coin_index|
                            
                            - if coin[:mints]
                                - coin[:mints].each_with_index do |mint, mint_index|

                                    %tr
                                        %td= year_index + coin_index + mint_index

                                        %td.col2<
                                            %a{ :href => "#{ dirify coin[:title] }/" }= coin[:title]

                                        - if mint[:in_bucket]
                                            %td.green= mint[:title]
                                        - else
                                            %td.red= mint[:title]
              
                            - else
                                %tr
                                    %td{ :colspan => "3" }
                                        %small
                                            Не определено